* {
    font-family: arial;
}

body {
    margin: 0;
    background-color: #cdcdcd;
}

.header {
    background-color: black;
    width: 100%;
    height: 70px;
    border-bottom: 3px #32b0cd solid;
}

.header h1 {
    color: #32b0cd;
}

ul {
    width: 40%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    color: #e3b062;
}

.container {
    display: flex;
    width: 80%;
    margin: auto;
}

.header .container {
    justify-content: space-between;
    align-items: center;
}

li,
a {
    color: #e3b062;
    text-decoration: none;
    font-weight: bold;
}

.banner {
    width: 100%;
    height: 500px;
    background-image: url(../img/background.png);
    background-size: cover;
    color: white;
}

.banner .container {
    height: 100%;
    justify-content: center;
    align-items: center;
}

.banner .container p {
    font-size: 200%;
    width: 250px;
}

span {
    font-weight: 800;
}
p {
    font-size: 15px;
}

.social .container {
    justify-content: space-around;
}

.social .container img {
    width: 100px;
    height: 100px;
}

.container .card {
    padding: 50px;
    border-radius: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card h1 {
    color: red;
}

.footer {
    width: 100%;
    background-color: #32a7b1;
    color: white;
}

.footer .container {
    justify-content: center;
    align-items: center;
    height: 150px;
}